@font-face {
  font-family: myFont;
  src: url(../assets/font/upheaval/upheavtt.ttf);
  font-display: swap;
}
body {
  font-family: myFont, sans-serif;
}
.bg-convert {
  background: linear-gradient(to top, #111111, #603829);
}
.navbar-brand {
  display: flex;
  align-items: flex-start;
}
.navbar-brand-text {
  line-height: 1.2;
  margin-left: 10px;
}
.basement {
  background-color: #603829;
  border-radius: 0px 3px;
  border-style: solid;
  border-width: 36.667px;
  border-image-outset: 0;
  border-image-repeat: repeat;
  border-image-slice: 48;
  border-image-source: url(../assets/CSS_Border.webp);
  border-image-width: 1;
  box-shadow: 0px 0px 15px rgba(17, 17, 17, 0.8) inset;
  color: white;
  font-size: 14px;
  min-height: 90vh;
}
.item-card {
  background-clip: content-box;
  border-radius: 3px;
  border-style: solid;
  border-width: 30px;
  border-image-outset: 0;
  border-image-repeat: round;
  border-image-slice: 30 fill;
  border-image-source: url(../assets/CSS_Border_Infobox.webp);
  border-image-width: 1;
  clear: right;
  width: 270px;
  display: flex;
  flex-direction: column;
}
.card-title {
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}
